.button_register-link{
    position: absolute;
    top:33px;
    right:96px;
    width:100px;
    background-color: #f0f0f0;
    border:1px solid #D9C6B5;
    font-size: 20px;
    font-family: "Inika", sans-serif;
    color:#D9C6B5;
    z-index: 5;
}

.register-form__content{
    background-color: #F1ECE7;
}

.register-form__content--inner{
    margin: 0 auto;
    max-width: 1512px;
    padding: 50px 20px 100px;
}

.register-form__heading{
    margin-bottom: 50px;
    text-align: center;
    color: #8B7969;
    font-size: 35px;
}

.register-form{
    margin: 0 auto;
    width:736px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #C5B9B0;
    padding: 75px 145px 65px;
}

.register-form__group{
    width:445px;
    text-align: left;
    margin: 0 auto;
}

.register-form__label{
    font-size: 25px;
    color:#8B7969;
    margin-bottom: 15px;

}

.register-form__group input{
    width:100%;
    background-color: #f4f4f4;
    padding: 20px 20px 20px 25px;
    margin-bottom: 45px;
    border:none;
    font-size: 14px;
    color:#beb1a6;

}
.register-form__button{
    text-align: center;
}

.register-form__button-submit{
    width:120px;
    background-color: #82756A;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 0;
    cursor:pointer;
    border:none;
}